@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>
<p>
    Developer: <@ViewData["Developer"]
</p>
<p>This information is about C# course.</p>
<address>More information <a href="castlesolutions.com.br"> castlesolutions.com.br</a>.</address>
